<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
            <property name="url" value="ldap://10.10.1.164:10389" />
            <property name="base" value="o=sevenSeas" />
            <property name="userDn" value="uid=admin,ou=system" />
            <property name="password" value="secret" />
            <property name="pooled" value="true" />
	</bean>

	<bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
	    <constructor-arg ref="contextSource" />
	</bean>
        
	<bean id="ldapContact" class="org.ldaphelper.ldapclient.APDSContactDAO">
	    <property name="ldapTemplate" ref="ldapTemplate" />
            <property name="base" value="o=sevenSeas" />
            <property name="groupSearch" value="(&amp;(objectClass=groupOfUniqueNames)(uniquemember={0}))" />
            <property name="userSearch" value="(objectClass=person)" />
            <property name="objectClassPerson" value="person" />
            <property name="objectClassForOrgPerson" value="inetOrgPerson" />
            <property name="objectClassForUser" value="user" />
            <property name="userOu" value="ou=people" />
            <property name="groupAttribute" value="uniquemember" />
            <property name="groupBase" value="ou=ranks,ou=groups" />
            <property name="defaultUserGroup" value="Seaman" />
	</bean>

        <!-- Paging beans -->
        <bean id="pagingAttributes" class="org.ldaphelper.ldapclient.PagingAttributes">
	    <property name="base" value="" />
            <property name="groupSearch" value="(&amp;(objectClass=groupOfUniqueNames)(cn=*))" />
            <property name="userSearch" value="(&amp;(objectClass=person)(uid=*))" />
	</bean>
        
        <bean id="springPager" class="org.ldaphelper.ldapclient.LDAPPagedResults">
            <property name="ldapTemplate" ref="ldapTemplate" />
	    <property name="base" value="" />
            <property name="groupSearch" value="(&amp;(objectClass=groupOfUniqueNames)(cn=*))" />
            <property name="userSearch" value="(&amp;(objectClass=person)(uid=*))" />
	</bean>



</beans>
